@import "../../global.scss";

@include small-screen {
  /* MobileNav.scss */
  .menu {
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen */
    width: 100%;
    background: var(--portfolio-color);
    transition: left 0.3s ease-in-out; /* Smooth transition */
    z-index: 120;
    overflow-y: auto; /* Ensure the menu can scroll if it overflows */
    display: flex;
    flex-direction: column;
  }

  .menu.show {
    left: 0; /* Slide in */
  }

  .menu-branding {
    position: relative;
    top: 0;
    right: -100%; /* Start off-screen */
    width: 100%;
    background: var(--portfolio-color);
    transition: right 0.3s ease-in-out; /* Smooth transition */
    height: 25vh;
    z-index: 120;
  }
  .menu.show .menu-branding {
    right: 0; /* Slide in */
  }
  .photo {
    width: 120px;
    height: 120px;
    background-image: url("src/assets/img/ali4.jpg");
    background-size: cover;
    border-radius: 50%;
    border: 2px solid var(--yello-color);
    margin: auto;
    margin-top: 50px;
  }
  .menu-nav {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    height: 75vh;

    .nav-item {
      border-bottom: 1px solid #555;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .nav-link {
        color: #fff;
        text-decoration: none;
        display: block; /* Ensure links take full width */
        padding: 10px 20px; /* Add padding for better touch support */
        text-align: center;
      }
    }
  }
}
