@import "../../global.scss";


@include small-screen {
  /* MobileNav.scss */
  .menu {
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen */
    width: 100%;
   // height: 75vh;
   // background: var(--portfolio-color);
   background-color: red;
   transition: left 0.3s ease-in-out; /* Smooth transition */
    z-index: 120;
    overflow-y: auto; /* Ensure the menu can scroll if it overflows */
    //padding-top: 60px; /* Add padding to push content down */
    display: flex;
    flex-direction: column;
   
  }

  .menu.show {
    left: 0; /* Slide in */
  }

  .menu-branding {
    position: relative;
    top: 0;
    right: -100%; /* Start off-screen */
    width: 100%;
    //padding: 20px;
    background: #050de8;
    transition: right 0.3s ease-in-out; /* Smooth transition */
    height: 25vh;
    z-index: 120;
    
    
  }
  .menu.show .menu-branding {
    right: 0; /* Slide in */
  }

  .menu-nav {
    list-style: none;
    padding: 20px 0; /* Add padding to push items down */
    margin: 0; /* Reset default margin */
    height: 75vh;

    .nav-item {
     // position: relative;
      padding: 10px;
      border-bottom: 1px solid #555;
      
      
      //top: 245px;

      .nav-link {
        color: #fff;
        text-decoration: none;
        display: block; /* Ensure links take full width */
        padding: 10px 20px; /* Add padding for better touch support */
        text-align: center;
      }
    }
  }
}

