@import "../../../global.scss";

@include small-screen {
    .btn-menu {
        position: fixed;
        z-index: 159;
        right: 20px;
        top: 5px;
        cursor: pointer;
        @include easeOut;
        background-color: var(--yello-color);
        width: 45px;
        height: 45px;
        border-radius: 50%;
    
        .btn-line {
          width: 28px;
          height: 3px;
          margin: 0 0 5px 0;
          //background: set-text-color($primary-color);
          @include easeOut;
          position: relative;
          top: 14px;
          left: 8px;
          background: #000;
        }
    
        //Rotate menu button into X
        &.close {
          transform: rotate(180deg);
          .btn-line {
            // line 1 Rotate
            &:nth-child(1) {
              transform: rotate(45deg) translate(5px, 5px);
            }
            //line  2 hide
            &:nth-child(2) {
              opacity: 0;
            }
            //line 3  Rotate
            &:nth-child(3) {
              transform: rotate(-45deg) translate(7px, -6px);
            }
          }
        }
      }
      .nav-items{
        transform: translate3d(-100%, 0, 0);
        background-color: aquamarine;
      }
}
  

