.Icon {
  color: rgb(166, 178, 176);
  font-size: 7rem;
}

.mybox {
  height: auto;
  font-size: 1.2rem;
  width: 70%;
  margin: 0 auto;

  h6 {
    font-size: 1.5rem;
    text-align: center;
  }
}
.Skills-Section {
  position: relative;
  z-index: 5;
  background: var(--skill-section);
  height: 100vh;
}
.Skill-Box-Container {
  width: 100%;
  color: (--skill-color);
  font-size: 2.5rem;
  display: flex;
  font-family: "Armata", sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 50px;
  position: relative;
  z-index: 4;

 
}
.head-title {
  font-family: var(--heading-text);
  width: 100%;
  text-align: center;
  padding-top: 80px;
  font-size: 4rem;
  color: rgb(166, 178, 176);
  margin: 0;
  letter-spacing: 5px;
  padding-bottom: 30px;
}
.mybox {
  height: auto;
  font-size: 1.2rem;
  width: 70%;
  text-align: center;


  h6 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2px;
    color: rgb(166, 178, 176);
  }
  .skill-name {
    background-color: var(--green);
    text-align: center;
    margin-top: 5px !important;
    border-radius: 9px;
    font-size: 1.2rem;
    color: white;
    padding: 15px;
    width: 80%;
    margin: 0 auto;
    
  }

  .skill-list {
    margin-top: 20px;
  }

  ul li {
    text-decoration: none;
    list-style: none;
    text-align: left;

  }
}
