@import "../../global.scss";
.about-wrapper {
  position: relative;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  z-index: 20;
  background-color: var(--about-color);
}

#about {
  width: 90%;
  height: auto;
  padding-top: 4rem;
  color: #fff;
  padding-bottom: 180px;
  margin: 0 auto;
  margin-top: 0px;
  padding-top: 3px;
}

.what-i-do {
  margin-top: 50px;
  text-align: center;
  font-family: var(--heading-text);
  font-size: 3rem;
  letter-spacing: 4px;
  color: var(--about-font);
}

.services {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sevices-2 {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: left;
  color: var(--yello-color);
  font-family: var(--primary);
  padding-bottom: 10px;
  font-size: 1.5rem;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
 align-items: center;
  padding-bottom: 8rem;
  gap: 100px;
}

.flex-wrapper-2 {
  display: flex;
  gap: 170px;
}
.about-wrapper .services .service-Description {
  width: 100%;
}
.about-wrapper .sevices-2 .service-Description {
  width: 100%;
}
.flex-wrapper-2 .services-3 .service-Description {
  width: 100%;
}
.flex-wrapper-2 .services-4 .service-Description {
  width: 100%;
}
.service-Description {
  width: 80%;
  font-size: 1.3rem;
  font-weight: 200;
  color: var(--about-font);
  font-family: var(--primary);
  line-height: 1.5;
}

.about-title {
  width: 100%;
  display: flex;
  font-size: 2.5rem;
  margin-top: 60px;
}

.about-title .title-1 {
  flex: 1;
  text-align: center;
  color: var(--about-font);
  font-family: var(--heading-text);
  font-size: 5rem;
  letter-spacing: 4px;
}
.about-title .title-2 {
  flex: 1;
  text-align: center;
}

.Photo-Container {
  display: grid;
  font-family: "Armata", sans-serif;
  grid-template-columns: 1fr 2fr;
}

.Photo-Container ul {
  flex: 1;
  font-size: 1rem;
  text-align: left;
}

.photo {
  width: 300px;
  height: 300px;
  background-image: url("assets/img/ali4.jpg");
  background-size: cover;
  border-radius: 50%;
  border: 2px solid var(--yello-color);
  margin-left: 40px;
}

.photo {
  margin-top: 20px;
}

.Photo-Container ul li {
  line-height: 2.5;
}

.about-text {
  font-family: var(--primary);
  color: var(--about-font);
  line-height: 1.5;
  padding: 40px 20px 0 60px;
  font-size: 1.3rem;
}

@include small-screen {
  .Photo-Container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .Photo-Container p {
    padding: 0;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
  }
  .Photo-Container .photo {
    width: 230px;
    height: 230px;
  }
  .flex-wrapper,
  .flex-wrapper-2 {
    flex-direction: column;
    padding-bottom: 4rem;
    gap: 2px;
  }

  .service-Description {
    width: 100%;
    margin: 5px;
  }
  .about-title .title-1 {
    font-size: 3rem;
  }
  .title {
    text-align: center;
  }
  .what-i-do {
    font-size: 2rem;
  }
  .about-text {
    font-size: 1.2rem;
  }
  .Photo-Container .about-text {
    padding-top: 20px;
  }
  .serv-3,
  .serv-4,
  .serv-1,
  .serv-2 {
    color: var(--yello-color);
    font-family: var(--primary);
    padding-bottom: 10px;
    text-align: center;
  }
  .service-Description {
    font-size: 1rem;
    text-align: left;
    font-size: 1rem;
    line-height: 25px;
  }
  .flex-wrapper-2 .service-Description {
    padding-bottom: 4rem;
  }
  .about-wrapper {
    z-index: 2;
  }
  
}
