.form-container {
  width: 80%;
  text-align: center;
  color: grey;
  margin: 0 auto;
  margin-top: 100px;
  flex: 1;
}

.details p {
  font-family: "Bree Serif", serif;
  font-size: 2.5rem;
  color: var(--about-font);
}
.details h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #fff;
}

#submitBtn {
  width: 90%;
  padding: 1.2rem;
  margin-top: 10px;
  margin-bottom: 5px;
  border: none;
  color: #fff;
  transition-duration: 0.9s;
  font-size: 1rem;
  border-radius: 5px;
  margin-left: 5px;
}
#submitBtn:hover {
  //background: darken(var(--about-font), 20%);
  cursor: pointer;
}

.phone {
  font-size: 3rem;
  color: var(--about-font);
}
.or {
  font-size: 2rem;
  color: var(--about-font);
  margin-top: 30px;
}

#contact {
  height: auto;
  width: 90%;
  margin: 0 auto;
  font-family: "Armata", sans-serif;
  margin-top: 60px;
}

.contact {
  width: 100%;
  height: 100vh;
  font-size: 1rem;
  display: flex;
  position: relative;
  margin-top: -200px;
  z-index: 7;
  background-color: var(--contact);
}
// .icons{
// padding-top: 350px;
// font-size: 2rem;

// }
.form-container p {
  padding: 0;
  margin: 0;
}
.form {
  padding-top: 20px;
}
.details {
  background: var(--contact-detailes);
  width: calc(50% + 50px);
  text-align: center;
  flex: 1;
  padding-top: 210px;
  color: var(--about-font);
  font-family: var(--heading-text);
  //padding-bottom: 10px;

  .icons {
    padding-bottom: 50px;
    padding-top: 290px;

    a {
      padding-right: 0.5rem;

      :hover {
        color: var(--yellow-color);
        //@include easeOut();
      }
    }
  }
  .icons i {
    font-size: 3rem;
    color: var(--about-font);
    transition: all 0.5s ease-out;
  }
  .icon:hover {
    color: yellow;
  }
  .phone {
    //  padding-bottom: 30px;
  }
  .head-contact {
    //padding-bottom: 30px;
    color: var(--about-font);
  }
}
