
.details p {
  font-family: "Bree Serif", serif;
  font-size: 2.5rem;
  color: var(--about-font);
}
.details h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #fff;
  margin: auto 0;
}
.success-Massage {
  padding: 10px;
}
.message-Title {
  font-family: "Bree Serif", serif;
  font-size: 2rem;
  text-align: center;
  margin-top: -50px;
}

.phone {
  font-size: 3rem;
  color: var(--about-font);
}
.or {
  font-size: 2rem;
  color: var(--about-font);
  margin-top: 30px;
}

#contact {
  height: auto;
  width: 90%;
  margin: 0 auto;
  font-family: "Armata", sans-serif;
  margin-top: 60px;
}

.contact {
  width: 100%;
  height: 100vh;
  font-size: 1rem;
  display: flex;
  position: relative;
  margin-top: -200px;
  z-index: 7;
  background-color: var(--contact);
}

.details {
  background: var(--contact-detailes);
  width: calc(50% + 50px);
  text-align: center;
  flex: 1;
  padding-top: 210px;
  color: var(--about-font);
  font-family: var(--heading-text);
  .icons {
   margin-top: 250px;
    font-size: 3rem;

    a {
      padding-right: 0.5rem;

      :hover {
        color: var(--yellow-color);
      }
    }
  }

  .icon  {
    color: var(--about-font);
    transition: all 0.5s ease-out;
  }
  .icon:hover {
    color: yellow;
  }

  .head-contact {
    color: var(--about-font);
    font-size: 4rem;
  }
}
