@import "../../global.scss";
.button-Container {
  width: 100%;
  text-align: center;
}

.form-container {
  width: 80%;
  text-align: center;
  color: grey;
  margin: 0 auto;
  margin-top: 100px;
  flex: 1;
}

.form {
  padding-top: 20px;
}
.input-icons {
  font-size: 2rem;
}
.input-Container > div {
  text-align: center;
}
@include small-screen {
  .input-Container {
    width: 100%;
  }
  .input-Container > div {
    text-align: center;
  }
}
