@import "../../global.scss";
body {
  overflow-x: hidden;
}
.nav-bar {
  background-color: var(--nav-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav-link::after {
  content: "";
  height: 2px;
  background-color: rgb(64, 186, 217);
  display: block;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
  transform: scaleX(0); 
  transform-origin: center; 
}

.nav-link:hover::after {
  opacity: 1;
  transform: scaleX(1); 
}


.nav-container {
  display: flex;
  color: #fff;
  padding: 30px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 90px;
  font-family: var(--primary);
  font-size: 1.2rem;
  font-weight: 200;
  margin: 0;
  box-sizing: border-box;
}

.nav-link {
  text-decoration: none;
  color: white;
}

@include small-screen {
  .nav-link {
    display: none;
  }
}
