.text-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: left;

  .label {
    display: flex;
    justify-content: space-between;
    font-family: UbuntuRegular;
    font-size: 14px;
    font-weight: 200;
    // margin-bottom: 5px;
  }

  .textarea-container {
    position: relative;
    width: 100%;
  }

  .textarea {
    width: 100%;
    border-radius: 10px;
    outline: none;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--primary-text-color);
    resize: vertical;
    font-family: var(--primary);
  }

  .textarea-small {
    width: 30%;
  }

  .textarea-medium {
    width: 50%;
  }

  .textarea-large {
    width: 90%;
  }

  .textarea-color-blue {
    background-color: blue;
  }

  .textarea-color-green {
    background-color: var(--form-input-color);
  }

  .textarea-color-yellow {
    background-color: yellow;
  }

  .textarea-color-orange {
    background-color: orange;
  }

  .textarea-border-error {
    border-color: red;
  }

  .error-message-default,
  .error-message-above {
    color: red;
    font-size: 12px;
  }

  .error-message-above {
    margin-bottom: 5px;
  }

  .textarea-icon,
  .placeholder-icon {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 18px;
  }

  .placeholder-icon {
    left: unset;
    right: 10px;
  }
  textarea {
    border-radius: 10px;
    padding: 30px;
    padding-left: 55px;
    border-style: none;
    outline: none;
    margin-top: 6px;
    margin-left: 5px;
  }
}
