body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --nav-bg: rgb(35, 49, 49);
  --secondary: "Lato", Calibri, Arial, sans-serif;
  --primary: "Armata", sans-serif;
  --heading-text:"Alfa Slab One", cursive;
  --home-overlay:rgba(0, 34, 34, 0.9);
  --yello-color:#f1d900;
}
