.home {
  position: relative;
  width: 100%;
  padding: 4rem;
  height: 100vh;
  background-image: url("src/assets/img/desktop.jpg");
  background-position: center center;
  background-size: cover;
}
#overlay {
  background-color: var(--home-overlay);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.ali {
  font-size: 5rem;
  font-family: "Alfa Slab One", cursive;
  color: #fff;
  letter-spacing: 4px;
  padding-right: 10px;
}
.text-secound {
  color: #fff;
  font-size: 5rem;
  font-family: "Alfa Slab One", cursive;
  color: var(--yello-color);
  letter-spacing: 4px;
}
h1 {
  position: relative;
  z-index: 2;
}

.small-heading {
  position: relative;
  font-family: "Armata", sans-serif;
  text-align: left;
  width: 50%;
  color: #fff;
  z-index: 2;
  line-height: 1.5em;
  font-size: 1.4rem;
}
