// General input styles
input {
  border-radius: 10px;
  width: 90%;
  padding: 20px;
  padding-left: 50px; // Make room for the icon
  //border: 1px solid transparent; // Set initial border
  margin: 6px;
  outline: none;
  box-sizing: border-box; // Include padding and border in the element's total width and height
  font-family: var(--primary);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(194, 184, 184);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(194, 184, 184);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(194, 184, 184);
}

.text-field .input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-container input {
  border-radius: 10px;
  width: 100%; // Ensure full width within container
  padding: 20px;
  padding-left: 50px; // Adjust padding to make room for the icon
  border: 1px solid transparent; // Set initial border
  font-family: var(--primary);
  outline: none;
  box-sizing: border-box;
}

.input-icons {
  display: flex;
  color: white;
  font-size: 2rem;
}

.text-field .input-icon {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.text-field .placeholder-icon {
  position: absolute;
  left: 10px;
  color: #ccc;
  pointer-events: none;
}

.text-field .input {
  padding-left: 50px; // Adjust padding to make room for the icon
}

.text-field .input-small {
  width: 30%;
}

.text-field .input-medium {
  width: 50%;
}

.text-field .input-large {
  width: 90%;
}

// .input[type="text"]:focus {
//   border: 1px solid #002855; // Change border color on focus
// }

.text-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error-message-above {
  color: red;
  font-size: 12px;
  margin-left: 8px;
  text-align: right;
}

.input-border-error {
  border: 1px solid red;
}

.label {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: UbuntuRegular;
  font-size: 14px;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .input {
    padding: 12px;
    margin-top: 1px;
  }
  .label {
    font-size: 0.8rem;
  }
}

/* Color classes */
.input-color-blue {
  background-color: blue;
}

.input-color-green {
  background-color: var(--form-input-color);
}

.input-color-yellow {
  background-color: lightyellow;
}

.input-color-red {
  background-color: orange;
}
